*{
    box-sizing: border-box
}

body
{
    margin:auto;
    font-family: 'Open Sans', sans-serif;
}

header 
{
    background-color: rgb(44, 85, 146);
    padding: 10px; 
}

img
{
    vertical-align: middle;
}

nav
{
    display: flex;
    background-color: rgb(207, 211, 218);
    padding: 6px;
    text-align: center;   
}

nav p { 
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 20px;
    padding: 6px 10px;
}

nav ul li
{
    float: left;
    list-style: none;
    padding: 10px;
    position: relative;
}

nav ul li a { 

    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
    padding: 5px; 
    text-decoration: none;
}

nav ul li ul{ 
    display: none;
    position: absolute;
    background-color:  rgb(242, 243, 233);
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

nav ul li:hover ul { 
    display: block;
}
nav ul li ul li { 
    border-radius: 4px;
}

nav ul li ul li a { 
    padding: 8px 14px;
}

nav ul li ul li a:hover { 
    background-color: #f3f3f3;
}

aside
{
    flex: 30%;
    padding: 20px;
    background-color: rgb(44, 85, 146);
}

legend{
    font-size: 16px;
}
section
{
    flex: 70%;
    background-color: rgb(255, 252, 248);
    padding: 15px;
}

fieldset
{
    padding: 20px;
    background-color:  rgb(242, 243, 233);
}

#inputName, #inputPh, #inputEmail, #inputComment{
    border-radius: 15px;
}

#inputComment{
    height: 100px;
}

.InputMenus{
    text-align: center

}

#ContactUs{
    text-align: center;
    background-color:  rgb(44, 85, 146)
}


.placeholder
{
    background-color: beige;
    width: 100%;
    padding: 20px;
}

.row
{
    display: flex;
    flex-wrap: wrap;    
}

.main
{
    height: 200;
}
.sub
{
    height: 50;
}


article 
{
    padding: 5px;
    background-color:  rgb(242, 243, 233)
}

footer 
{
    background-color: rgb(207, 211, 218);
    height: 20px;
}
@media screen and (max-width: 700px)
{
    .row,
    nav{
        flex-direction: column;
    }
}